/*------------------------- estrutura do cartão --------------------------*/

* {
    box-sizing: border-box;
}

template {
    display: none;
    /* IE support */
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.playground {
    background: #eee;
    padding: 4rem 4rem;
}


/** clear floating **/

.playground::after {
    clear: both;
    content: "";
    display: table;
}

.card {
    display: inline-block;
    float: left;
    /** optional, better alignment for multi-row use cases -> or use flexbox */
    min-width: 29rem;
    max-width: 29rem;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .15), 0 0 4px 0 rgba(0, 0, 0, .2), 0 12px 12px 0 rgba(0, 0, 0, .15);
    margin: 2rem 1rem;
    padding: 0px;
    transition: box-shadow .2s ease-in-out;
}

.card[draggable=true] {
    cursor: move;
}

.card[draggable=false] {
    cursor: not-allowed;
}


/* Prevent the text contents of draggable elements from being selectable. Also from Elements which are explicit not draggable */

.playground {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.card:hover {
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, .1), 0 0 36px 0 rgba(0, 0, 0, .15), 0 36px 36px 0 rgba(0, 0, 0, .2);
}

.card>img {
    padding: 0;
    margin: 0;
}

.card-text {
    padding: 0.75rem;
}

.card-text>h3 {
    margin: 0 0 0.25rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: color .2s ease-in-out;
}

.card-text>h3:hover {
    color: green;
}

.card-text>span {
    margin: 0;
    font-size: 0.8125rem;
    line-height: 1rem;
    font-weight: 200;
}

.card-placeholder {
    position: fixed;
    display: inline-block;
    background: #ddd;
}

.card.moving {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0), 0 0 4px 0 rgba(0, 0, 0, 0), 0 12px 12px 0 rgba(0, 0, 0, 0);
}

.card-head {
    background: #fafafa;
    padding: 0.5rem 0rem;
    position: relative;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #ccc;
}

.author {
    position: absolute;
    display: inline-block;
    right: 1rem;
    bottom: -25px;
    border-radius: 50px;
}


/*------------------------- cabeçalho do cartão --------------------------*/

.align-center {
    display: flex;
    justify-content: center;
}

.nota-ibed {
    font-size: 48px;
    font-weight: bold;
    color: #354052;
}

.texto-nota-ibed {
    font-size: 9px;
    color: #808182;
}

.separador {
    padding-top: 0.45rem;
    padding-left: 0.8rem;
    font-size: 42px;
    font-weight: lighter;
    color: #DCE1E4;
}

.meta {
    padding-top: 1.5rem;
    padding-left: 0.5rem;
}

.numero-meta {
    font-size: 32px;
    font-weight: bold;
    color: #DCE1E4;
}

.texto-meta {
    padding-top: 0.7rem;
    font-size: 9px;
    color: #808182;
}


/*------------------------- Nome do municipio --------------------------*/

.nome-municipio {
    z-index: 15;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #33968D;
    background-color: #fff;
    padding: 3px 0px;
    margin: 9px 7rem;
    margin-bottom: -3.3rem;
    border: 1px solid #ccc;
    border-radius: 20px;
}


/*------------------------- barras de progresso --------------------------*/

.progress {
    height: 11px;
    margin-bottom: 10px;
    background-color: #E6E6E6;
    box-shadow: none;
    overflow: hidden;
    border-radius: 0px;
}

.progress-bar-notas-boas {
    background-color: #CCE185;
}

.progress-bar-notas-medias {
    background-color: #F2DF48;
}

.progress-bar-notas-ruins {
    background-color: #FF9C00;
}

.progress-bar-notas-pessimas {
    background-color: #FF361B;
}

.nota-progress {
    font-size: 11px;
    color: #808182;
}


/*------------------  ------------------*/

.filtros {
    display: inline-block;
    width: 100%;
    padding: 1rem;
}

.btn-filtros {
    display: inline-block;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #808182;
    background-color: #fff;
    padding: 10px 16px;
    margin: 1rem 3rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    border-radius: 20px;
}

.ideb-estado {
    color: #fff;
    background-color: #47BCB1;
    font-size: 20px;
    padding: 2px 16px;
    margin-right: 5px;
}

.ideb-brasil {
    color: #fff;
    background-color: #B9C0C5;
    font-size: 16px;
    padding: 4px 16px;
    margin-right: 5px;
}

.testo-ideb-filtro {
    display: inline-block;
    font-size: 9px;
    color: #B9C0C5;
    margin-right: 9rem;
    line-height: 200%;
    padding-top: 10px;
}