<!<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Page Layout here -->
<div ng-controller="MainController as main">

    <div class="filtros">

        <div class="btn-filtros ideb-estado">4,6</div>

        <div class="testo-ideb-filtro">Nota do IDEB para o</br> Estado do Rio de Janeiro</div>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle btn-filtros" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
            <ul class="dropdown-menu">
                <li><a href="">Action</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle btn-filtros" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>

        <div class="testo-ideb-filtro pull-right">Nota do IDEB </br> para o Brasil</div>
        <div class="pull-right btn-filtros ideb-brasil">4,3</div>


    </div>

    <div class="playground">

        <!-- a card that is not draggable -->
        <div class="card" ng-repeat="card in cards">
            <div class="card-head col-md-12">
                <span class="align-center"> 
            <span>
              <div class="nota-ibed">{{card.notaObtida}}</div>
              <div class="texto-nota-ibed">Nota obtidas</div>
            </span>
                <span class="separador">/</span>
                <span class="meta">
              <div class="numero-meta">{{card.meta}}</div>
              <div class="texto-meta">Meta</div>
            </span>
                </span>
                <div class="nome-municipio">{{card.municipio}}</div>

            </div>

            <div class="card-text col-md-12">
                <div class="nota-progress">{{card.notas.boa}}%</div>
                <div class="progress">
                    <div class="progress-bar progress-bar-notas-boas" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{card.notas.boa}}%">
                    </div>
                </div>
                <div class="nota-progress">{{card.notas.media}}%</div>
                <div class="progress">
                    <div class="progress-bar progress-bar-notas-medias" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{card.notas.media}}%">
                    </div>
                </div>
                <div class="nota-progress">{{card.notas.ruim}}%</div>
                <div class="progress">
                    <div class="progress-bar progress-bar-notas-ruins" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{card.notas.ruim}}%">
                    </div>
                </div>
                <div class="nota-progress">{{card.notas.pessima}}%</div>
                <div class="progress">
                    <div class="progress-bar progress-bar-notas-pessimas" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{card.notas.pessima}}%">
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<script>
    var account;

    if (window.location.hostname && window.location.hostname == "homologa.a4pm.com.br") {
        account = 'UA-65729373-1';
    } else if (window.location.hostname && window.location.hostname == "app.a4pm.com.br") {
        account = 'UA-65729373-2';
    }

    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', account, 'auto');
    ga('send', 'pageview', 'Atenção basica');
</script>