<!-- build:css({.tmp/serve,src}) visao_principal/styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.carousel.css" />
<link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.theme.default.css" />
<!-- endbower -->
<!-- endbuild -->

<!-- build:css({.tmp/serve,src}) visao_principal/styles/app.css -->
<!-- inject:css -->
<link rel="stylesheet" href="app/index.css">
<!-- endinject -->
<!-- endbuild -->

<div class="container-fluid" ui-view></div>

<!-- build:js(src) visao_principal/scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/requirejs/require.js"></script>
<script src="bower_components/angular-owl-carousel/src/angular-owl-carousel.js"></script>
<script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) visao_principal/scripts/app.js -->
<!-- inject:js -->
<script src="app/index.module.js"></script>
<script src="app/pages/main/main.directive.js"></script>
<script src="app/pages/main/main.controller.js"></script>
<script src="app/common/loader/loader.directive.js"></script>
<script src="app/services/helpers.service.js"></script>
<script src="app/services/dashboard.service.js"></script>
<script src="app/services/components.service.js"></script>
<script src="app/index.run.js"></script>
<script src="app/index.route.js"></script>
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->