<!<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Page Layout here -->
<div ng-controller="MainController as main">

    <div class="playground">
        <uib-tabset type="pills">
            <uib-tab heading="Mapa de Escolas">

                <div class="body-tabs">

                    <div>
                        <div id="map"></div>
                    </div>

                </div>

            </uib-tab>
        </uib-tabset>
    </div>

    <script type="text/ng-template" id="myPopoverTemplate.html">
        <ul class="list-group">
            <li class="list-group-item">
                <input type="text" ng-model="criterioDeBusca" placeholder="Buscar Municipio">
            </li>
            <li class="list-group-item" ng-repeat="municipio in municipios | filter:criterioDeBusca">
                <input type="checkbox" ng-model="municipio.selecionado" ng-click="functionMunipiosSelecionados(municipio.nome)"> {{municipio.nome}}
            </li>
        </ul>
    </script>

    
    <div style="display:none">
        <div id="popoverDetalhamento">
            <div class="titulo-popover">{{infoEscola.nomeEscola}}</div>
            <div><span class="text-color">Diretor:</span> <span id="divDiretor">{{infoEscola.diretor}}</span></div>
            <div><span class="text-color">Endereço:</span> <span id="divEndereço">{{infoEscola.endereco}}</span></div>
            <div><span class="text-color">Telefone:</span> <span id="divTelefone">{{infoEscola.telefone}}</span></div>
            <div><span class="text-color">Fundação:</span> <span id="divFundacao">{{infoEscola.dataFundacao}}</span></div>
            <div class="align-btn">
                <div id="abreFooterDetalhamento" onclick="$('.barra-footer').toggle()" class="btn btn-success btn-detalha">Detalhar</div>
            </div>
        </div>
    </div>
    <div ng-class="footerDetalhamento" class="barra-footer" style="display: none;">
        <div class="footer-detalhamento-parte-1">

            <div class="titulo-footer">
                <img src="https://s3-sa-east-1.amazonaws.com/a4pmstatic/img/escola.png" alt="Smiley face" height="16" width="16">
                {{infoEscola.nomeEscola}}</div>
            <div>
                <img src="https://s3-sa-east-1.amazonaws.com/a4pmstatic/img/localizacao.png" alt="Smiley face" height="16" width="16">
                <span class="text-footer-detalhamento">Endereço:</span>  
                {{infoEscola.endereco}}
            </div>
            <div>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                <span class="text-footer-detalhamento">Telefone:</span>  
                {{infoEscola.telefone}}
            </div>
            <div>
                <img src="https://s3-sa-east-1.amazonaws.com/a4pmstatic/img/data-fund.png" alt="Smiley face" height="16" width="16">
                <span class="text-footer-detalhamento">Fundação:</span>  
                {{infoEscola.dataFundacao}}
            </div>

        </div>
        <div class="footer-detalhamento-parte-2">
            <div>
                <img src="https://s3-sa-east-1.amazonaws.com/a4pmstatic/img/turmas.png" alt="Smiley face" height="16" width="16">
                {{infoEscola.qtd_turmas}} Turmas
            </div>
            <div>
                <img src="https://s3-sa-east-1.amazonaws.com/a4pmstatic/img/alunos.png" alt="Smiley face" height="16" width="16">
                {{infoEscola.qtd_alunos}} Alunos
            </div>
            <div>
                <img src="https://s3-sa-east-1.amazonaws.com/a4pmstatic/img/masculino.png" alt="Smiley face" height="16" width="16">
                {{infoEscola.meninos}} Meninos
            </div>
            <div>
                <img src="https://s3-sa-east-1.amazonaws.com/a4pmstatic/img/feminino.png" alt="Smiley face" height="16" width="16">
                {{infoEscola.meninas}} Meninas
            </div>

        </div>
    </div>

    <script>
        var map;
        /*
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: -34.397,
                    lng: 150.644
                },
                zoom: 8
            });
        }*/
    </script>


</div>


<script src="http://maps.google.com/maps/api/js"></script>

<script>
    var account;

    if (window.location.hostname && window.location.hostname == "homologa.a4pm.com.br") {
        account = 'UA-65729373-1';
    } else if (window.location.hostname && window.location.hostname == "app.a4pm.com.br") {
        account = 'UA-65729373-2';
    }

    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', account, 'auto');
    ga('send', 'pageview', 'Atenção basica');
</script>