/*------------------------- estrutura do cartão --------------------------*/

* {
    box-sizing: border-box;
}

template {
    display: none;
    /* IE support */
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.container-fluid {
    background: #eee;
}

.playground {
    background: #eee;
}


/** clear floating **/

.playground::after {
    clear: both;
    content: "";
    display: table;
}

.card {
    display: inline-block;
    float: left;
    /** optional, better alignment for multi-row use cases -> or use flexbox */
    min-width: 29rem;
    max-width: 29rem;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .15), 0 0 4px 0 rgba(0, 0, 0, .2), 0 12px 12px 0 rgba(0, 0, 0, .15);
    margin: 2rem 1rem;
    padding: 0px;
    transition: box-shadow .2s ease-in-out;
}

.card[draggable=true] {
    cursor: move;
}

.card[draggable=false] {
    cursor: not-allowed;
}


/* Prevent the text contents of draggable elements from being selectable. Also from Elements which are explicit not draggable */

.playground {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.card:hover {
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, .1), 0 0 36px 0 rgba(0, 0, 0, .15), 0 36px 36px 0 rgba(0, 0, 0, .2);
}

.card>img {
    padding: 0;
    margin: 0;
}

.card-text {
    padding: 0.75rem;
}

.card-text>h3 {
    margin: 0 0 0.25rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: color .2s ease-in-out;
}

.card-text>h3:hover {
    color: green;
}

.card-text>span {
    margin: 0;
    font-size: 0.8125rem;
    line-height: 1rem;
    font-weight: 200;
}

.card-placeholder {
    position: fixed;
    display: inline-block;
    background: #ddd;
}

.card.moving {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0), 0 0 4px 0 rgba(0, 0, 0, 0), 0 12px 12px 0 rgba(0, 0, 0, 0);
}

.card-head {
    background: #fafafa;
    padding: 0.5rem 0rem;
    position: relative;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #ccc;
}

.author {
    position: absolute;
    display: inline-block;
    right: 1rem;
    bottom: -25px;
    border-radius: 50px;
}


/*------------------------- cabeçalho do cartão --------------------------*/

.align-center {
    display: flex;
    justify-content: center;
}

.nota-ibed {
    font-size: 48px;
    font-weight: bold;
    color: #354052;
}

.texto-nota-ibed {
    font-size: 9px;
    color: #808182;
}

.separador {
    padding-top: 0.45rem;
    padding-left: 0.8rem;
    font-size: 42px;
    font-weight: lighter;
    color: #DCE1E4;
}

.meta {
    padding-top: 1.5rem;
    padding-left: 0.5rem;
}

.numero-meta {
    font-size: 32px;
    font-weight: bold;
    color: #DCE1E4;
}

.texto-meta {
    padding-top: 0.7rem;
    font-size: 9px;
    color: #808182;
}

.div-cards {
    background: #fff;
    display: block;
}


/*------------------------- Nome do municipio --------------------------*/

.nome-municipio {
    z-index: 15;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #33968D;
    background-color: #fff;
    padding: 3px 0px;
    margin: 9px 7rem;
    margin-bottom: -3.3rem;
    border: 1px solid #ccc;
    border-radius: 20px;
}


/*------------------------- barras de progresso --------------------------*/

.progress {
    height: 11px;
    margin-bottom: 10px;
    background-color: #E6E6E6;
    box-shadow: none;
    overflow: hidden;
    border-radius: 0px;
}

.progress-bar-notas-boas {
    background-color: #CCE185;
}

.progress-bar-notas-medias {
    background-color: #F2DF48;
}

.progress-bar-notas-ruins {
    background-color: #FF9C00;
}

.progress-bar-notas-pessimas {
    background-color: #FF361B;
}

.nota-progress {
    font-size: 11px;
    color: #808182;
}


/*------------------  filtros  ------------------*/

.filtros {
    display: inline-block;
    width: 100%;
    padding: 1rem;
}

.btn-filtros {
    display: inline-block;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #808182;
    background-color: #fff;
    padding: 10px 16px;
    margin: 1rem 3rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    border-radius: 20px;
}

.ideb-estado {
    color: #fff;
    background-color: #47BCB1;
    font-size: 20px;
    padding: 2px 16px;
    margin-right: 5px;
}

.ideb-brasil {
    color: #fff;
    background-color: #B9C0C5;
    font-size: 16px;
    padding: 4px 16px;
    margin-right: 5px;
}

.testo-ideb-filtro {
    display: inline-block;
    font-size: 9px;
    color: #B9C0C5;
    margin-right: 9rem;
    line-height: 200%;
    padding-top: 10px;
}


/*------------------------ tabs ----------------------*/

.tab-pane,
.body-tabs {
    background: #fff;
    height: -webkit-fill-available;
    border-top: 1px solid #E6E6E6
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #26597B;
    background-color: #eee;
}

.nav-pills>li>a {
    border-radius: 4px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a {
    color: #26597B;
    text-decoration: none;
}

li.active a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid #eee;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -3px
}


/*------------------ Detalhamento --------------------*/

.div-detalhamento {
    width: 96.4%;
    min-height: 100px;
    background: #eee;
    max-width: none;
    border-radius: 0px;
    margin-top: 0px !important;
    border: 0px solid rgba(0, 0, 0, .2);
    margin-left: -7px;
    left: 32px !important;
}

.div-detalhamento>.arrow,
.div-detalhamento>.arrow:after {
    display: none;
}


/*------------------ Grafico --------------------*/

$primary-color: #28BD8B;
$secondary-color: #1E5684;
$tertiary-color: #EA5A5A;
$gray1: #313541;
$gray2: #282C37;
$gray3: #1F222D;
$gray4: #6A7583;
.charts {
    display: flex;
    width: 100%;
    justify-content: space-around;
    h4 {
        color: white;
        text-align: center;
        padding-bottom: 2em;
        border-bottom: 1px solid $gray3;
    }
    @media (max-width: 800px) {
        flex-flow: column wrap;
    }
    .chart-container {
        background-color: $gray1;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        flex: 1;
        margin: 2em 3em 2em 3em;
        padding: 2em;
        @media (max-width: 800px) {
            margin: 4em 4em 4em 4em;
        }
    }
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

h3 img {
    max-height: 50px;
}

#map {
    height: 90vh;
    margin: 0px 5px !important;
    margin-top: 10px !important;
    border-radius: 0px;
    border: 1px solid silver;
}

.barra-footer {
    width: 100%;
    height: 110px;
    background: #fff;
    position: fixed;
    bottom: 0px;
    font-size: 16px;
    color: #787878;
    opacity: 1;
    z-index: 1050;
    padding: 10px;
    transition: height 1s;
}

.text-footer-detalhamento {
    font-weight: bold;
}

.footer-detalhamento-parte-1{
    display: inline-block; 
}

.footer-detalhamento-parte-2{
    display: inline-block; 
    padding-left: 15px;
    border-left: 1px solid silver;
    margin-left: 30px;
}

.titulo-footer {
    background: #138F89;
    color: #fff;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: bold;
}

#popoverDetalhamento {
    background: #3A4F62;
    min-height: 180px;
    max-height: 180px;
}

.olPopup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1050;
    padding: 1px;
    text-align: left;
    background-clip: padding-box;
    border: 1px solid #869098;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    white-space: normal;

    background: #3A4F62 !important;
    color: white;
}

.olPopupContent{
    width: 100% !important;
    height: 100% !important;
}

.popover-btn {
    vertical-align: center;
}

.text-color {
    color: #84AECF;
    font-weight: bold;
}

.titulo-popover {
    border-bottom: 1px solid #84AECF;
    text-align: center;
    font-weight: bold;
}

.align-btn {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 20px;
}

.olPopupCloseBox {
    background: url(https://s3-sa-east-1.amazonaws.com/a4pmstatic/img/cross-mark-on-a-black-circle-background.png) no-repeat !important;
    height: 20px !important;
    width: 17px !important;
}

.glyphicon-earphone{
    color:#138F89;
    font-size: 16px;
}

.btn-detalha{
    padding: 2px 30px;
    background-color: #138F89;
    border-color: #138F89
}

.btn-detalha:hover, .btn-detalha:focus, .btn-detalha:active, .btn-detalha.active, .open .dropdown-toggle.btn-detalha {
    color: #fff;
    background-color: #138F89;
    border-color: #138F89;
}

