<!-- Page Layout here -->
<div class="row main-row animated fadeInRight">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content row no-margin">
                Page Layout
            </div>
        </div>
    </div>
</div>
